body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1;
  background-color: white;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: black;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 12px solid gray;
}

.description {
  white-space: pre-wrap;
}

.time-b {
  text-align: left;
  border-radius: 20px;
}

.row {
  border-top: 1px solid;
  height:100px;
}

.hour {
  background-color: white;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #a7a5a5;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 2px solid black;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #0088f7;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
